{
  "public": {
    "enableKeycloak": false,
    "keycloakUrl": "",
    "keycloakRealm": "",
    "emailValidation": true,
    "theme" : "eole"
  },
  "keycloak": {
    "pubkey": "",
    "client": ""
  },
  "private": {
    "adminEmails": []
  },
  "smtp": {
      "url": ""
  }
}
