{
  "public": {
    "enableKeycloak": false,
    "keycloakUrl": "",
    "keycloakRealm": "",
    "emailValidation": true
  },
  "keycloak": {
    "pubkey": "",
    "client": ""
  },
  "private": {
    "adminEmails": []
  },
}
